/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  background-color: black;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* visibility: hidden; */
}

/* .nav {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center; 
}

.logoimgtop {
  margin-left: 10px;
}

.nav-links {
  text-align: center;
  width: 100%;

}

.padding {
  min-width: 100px;
  min-height: 100px;
  margin-right: 10px;
  display: flex;
}

.instagram {
  padding-top: 25%;
}

.facebook {
  padding-top: 25%;
} */

a {
  padding-inline: 5px;
  color: #F1B821;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px  #FFE6A4;
  color: #FFF0CA;
}

.a-active {
  text-shadow: 0 0 5px  #FFE6A4;
  color: #FFF0CA;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*
.logotext {
  opacity: 1;
}

.logoimg {
  width: 700px;
  filter: blur(0);
} */